<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <link rel="stylesheet" th:href="@{/css/save.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div id="save_form" class="container">
    <li class="nav-item">
        <a class="nav-link" href="/" style="display: inline-block;">
            <button class="btn" style="border: none;"><i class="bi bi-caret-left-fill">홈페이지로 돌아가기</i></button>
        </a>
    </li>
<div class="container text-center mt-5">
    <h1><strong> 회원가입 </strong></h1> <br>
</div>
    <form action="/member/save" name="saveForm" method="post">
        <label for="member-userName">아이디</label>
        <div class="userName-filed">
            <input type="text" id="member-userName" name="memberUserName" class="form-control mb-3">
            <button type="button" onclick="userName_check()">중복 체크</button>
        </div>
        <h6 id="userName-result">
            <span id="good" style="color: green; display: none">
                *사용 가능한 계정 입니다.
            </span>
            <span id="no" style="color: red; display: none">
                *이미 사용정인 계정 입니다.
            </span>
        </h6>
        <label for="member-password">비밀번호</label>
        <input type="password" id="member-password" name="memberPassword" oninput="password_check()"
               class="form-control mb-3">
        <i class="bi bi-key-fill" id="lock1"></i>
        <h6 id="password-result"></h6>
        <label for="member-PasswordConfirm">비밀번호 재확인</label>
        <input type="password" id="member-PasswordConfirm" name="memberPasswordCheck" oninput="password_confirm()"
               class="form-control mb-3">
        <h6 id="passwordConfirm-result"></h6>
        <label for="member-name">이름</label>
        <div class="row g-2 align-items-center">
            <div class="col-md-8 mb-3">
                <input type="text" id="member-name" name="memberName" oninput="name_check()" class="form-control">
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="form-label mb-3">성별</div>
                <div class="form-check form-check-inline mx-3 align-items-center" style="height: 100%;">
                    <input class="form-check-input" type="radio" name="memberGender" id="gender-male" value="male"
                           checked>
                    <label class="form-check-label mb-2" for="gender-male">남자</label>
                </div>
                <div class="form-check form-check-inline mx-3 align-items-center" style="height: 100%;">
                    <input class="form-check-input" type="radio" name="memberGender" id="gender-female" value="female">
                    <label class="form-check-label mb-2" for="gender-female">여자</label>
                </div>
            </div>
        </div>
        <h6 id="name-result"></h6>
        <div>휴대전화</div>
        <select name="memberCountryCode" id="country_code" class="form-control mb-3" onchange="CountryCode_select()">
            <option value="">직접입력</option>

            <!-- 아시아 -->
            <optgroup label="Asia">
                <option value="+82" selected>대한민국 +82</option>
                <option value="+81">Japan +81</option>
                <option value="+63">Philippines +63</option>
                <option value="+66">Thailand +66</option>
                <option value="+84">Vietnam +84</option>
            </optgroup>

            <!-- 아프리카 -->
            <optgroup label="Africa">
                <option value="+212">Morocco +212</option>
            </optgroup>

            <!-- 유럽 -->
            <optgroup label="Europe">
                <option value="+33">France +33</option>
                <option value="+39">Italy +39</option>
                <option value="+49">Germany +49</option>
                <option value="+44">UK +44</option>
                <option value="+7">Russia +7</option>
                <option value="+39">Spain +39</option>
            </optgroup>

            <!-- 북미 -->
            <optgroup label="North America">
                <option value="+1">USA/Canada +1</option>
            </optgroup>
            <optgroup label="South America">
                <option value="+52">Mexico +52</option>
            </optgroup>

        </select>
        <div class="row g-2">
            <div class="col-2">
                <select name="memberTelecom" id="member-telecom" class="form-select mb-3">
                    <option value="SKT">SKT</option>
                    <option value="KT">KT</option>
                    <option value="LG">LG U+</option>
                    <option value="알뜰폰">알뜰폰</option>
                </select>
            </div>
            <div class="col-6">
                <input type="tel" id="member-mobile" name="memberMobile"
                       class="form-control mb-3" placeholder="전화번호 입력">
            </div>
            <div class="col-4 d-grid">
                <input type="button" class="btn btn-success btn-blook mb-3" value="인증번호 받기"
                       onclick="numberMessage_chack()">
            </div>
        </div>
        <h6 id="mobile-result"></h6>
        <div class="row g-2">
            <div class="col-5">
                <input type="text" id="message-code" name="UsermessageCode" class="form-control mb-3">
                <small id="verification-code-help" class="form-text text-muted">핸드폰으로 전송된 인증코드를 입력하세요.</small>
            </div>
            <div class="col-md-3">
                <input type="button" id="member-message" name="memberMessage" class="btn btn-success mb-3"
                       value="인증 확인" onclick="message_code()">
            </div>
            <h6 id="memberMassgeCode-result"></h6>
        </div>
        <label for="member-birthYear">생년월일</label>
        <div class="row">
            <div class="col">
                <input type="text" id="member-birthYear" name="memberBirthYear" class="form-control mb-3"
                       placeholder="년(4자)" oninput="birth_check()">
            </div>
            <div class="col">
                <select name="memberBirthMonth" id="member-birthMonth" class="form-select mb-3"
                        oninput="birth_check()">
                    <option value="">월</option>
                    <option value="1"> 1월</option>
                    <option value="2"> 2월</option>
                    <option value="3"> 3월</option>
                    <option value="4"> 4월</option>
                    <option value="5"> 5월</option>
                    <option value="6"> 6월</option>
                    <option value="7"> 7월</option>
                    <option value="8"> 8월</option>
                    <option value="9"> 9월</option>
                    <option value="10"> 10월</option>
                    <option value="11"> 11월</option>
                    <option value="12"> 12월</option>
                </select>
            </div>
            <div class="col">
                <input type="text" id="member-birthDay" name="memberBirthDay" class="form-control" placeholder="일"
                       oninput="birth_check()">
            </div>
            <h6 id="birth-result"></h6>
            <div>주소 입력</div>
            <div class="row g-2">
                <div class="col-8">
                    <input type="text" id="member-postcode" name="memberPostcode" placeholder="우편번호"
                           class="form-control mb-3" oninput="postcode_check()">
                </div>
                <div class="col-4 d-grid">
                    <input type="button" value="우편번호 찾기" onclick="sample6_execDaumPostcode()"
                           class="btn btn-success btn-blook mb-3">
                </div>
                <div class="col-12">
                    <input type="text" id="member_address" name="memberAddress" placeholder="주소"
                           class="form-control mb-3">
                    <input type="text" id="member-detailAddress" name="memberDetailAddress" placeholder="상세주소"
                           class="form-control mb-3"
                           oninput="detailAddress_check()">
                    <input type="text" id="member-extraAddress" name="memberExtraAddress" placeholder="참고항목"
                           class="form-control mb-3">
                </div>
            </div>
            <h6 id="address-result"></h6>
            <label for="member-email">이메일 입력</label>
            <div class="row">
                <div class="col-md-5 pr-0">
                    <input type="text" id="member-email" name="memberEmailFront" oninput="email_check()"
                           class="form-control mb-3">
                </div>
                <div class="col-auto pl-0 pr-0 at-symbol">
                    <span>@</span>
                </div>
                <div class="col-md-3 pl-0">
                    <input type="text" id="email-domain" name="memberDomain" class="form-control mb-3">
                </div>
                <div class="col-md-3">
                    <select id="email-domain-select" onchange="domain_select()" class="form-select mb-3">
                        <option value="">직접입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hanmail.net">hanmail.net</option>
                        <option value="nate.com">nate.com</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <input type="button" id="send-verification-code" class="btn btn-success mb-3" value="인증코드 전송"
                       onclick="sendVerificationCode()">
            </div>
        </div>
        <h6 id="email-result"></h6>
        <label for="verification-code">인증코드</label>
        <div class="row g-2">
            <div class="col-5">
                <input type="text" id="verification-code" class="form-control mb-3">
                <small id="verification-code-help" class="form-text text-muted">이메일로 전송된 인증코드를 입력하세요.</small>
            </div>
            <div class="col-md-3">
                <input type="button" id="verify-code" class="btn btn-success mb-3" value="인증 확인"
                       onclick="verifyCode()">
            </div>
            <h6 id="verification-code-result"></h6>
        </div>
        <label for="member-passportNum">여권번호 입력</label>
        <div class="row g-2">
            <div class="col-7">
                <input type="text" id="member-passportNum" name="memberPassportNum"
                       class="form-control mb-3">
                <button type="button" onclick="passportNum_check()">여권번호 조회</button>
            </div>
        </div>
        <h6 id="passportNum-result">
            <span id="pos" style="color: green; display: none">
                *올바른 여권 번호입니다.
            </span>
            <span id="dup" style="color: red; display: none">
                *이미 가입되어 있는 여권 번호입니다. 다시 확인해주세요!
            </span>
        </h6>
        <label for="member-hint">힌트</label>
        <div class="row g-2">
            <div class="col-5">
                <select id="member-selectHint" class="form-control mb-3">
                    <option value="자신이 가장 사랑하는 도시는?">자신이 가장 사랑하는 도시는?</option>
                    <option value="가장 이상적인 국가는?">가장 이상적인 국가는?</option>
                    <option value="결혼후 가장 가고싶은 신혼여행지는?">결혼후 가장 가고싶은 신혼여행지는?</option>
                    <option value="자신이 첫 해외여행을 했던 나이는?">자신이 첫 해외여행을 했던 나이는?</option>
                    <option value="자신이 가장 가고싶은 나라는?">자신이 가장 가고싶은 나라는?</option>
                </select>
            </div>
            <div class="col-4">
                <input type="text" id="member-hint" name="memberHint" oninput="member_hintCheck()"
                       class="form-control mb-3">
            </div>
        </div>
        <h6 id="hint-result"></h6>
        <div class="form-group">
            <div>SMS 마케팅 수신동의</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="memberSms" id="memberSmsYes" value="Yes" checked>
                <label class="form-check-label" for="memberSmsYes">예</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="memberSms" id="memberSmsNo" value="No">
                <label class="form-check-label" for="memberSmsNo">아니요</label>
            </div>
        </div>

        <div class="form-group">
            <div>이메일 마케팅 수신동의</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="memberEmailMarketing" id="memberEmailMarketingYes"
                       value="Yes" checked>
                <label class="form-check-label" for="memberEmailMarketingYes">예</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="memberEmailMarketing" id="memberEmailMarketingNo"
                       value="No">
                <label class="form-check-label" for="memberEmailMarketingNo">아니요</label>
            </div>
        </div>

        <div class="row g-2">
            <div class="col d-grid">
                <input type="submit" class="btn btn-outline-success btn-block" value="가입하기" onclick="join_click(event)">
            </div>
        </div>
    </form>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>

    const saveForm = document.forms.saveForm;
    saveForm.addEventListener('submit', function (event) {
        if (!login_check()) {
            event.preventDefault();
        }
    });
    const login_check = async() => {
        const userName = document.getElementById("member-userName");
        const password = document.getElementById("member-password");
        const passwordConfirm = document.getElementById("member-PasswordConfirm");
        const name = document.getElementById("member-name");
        const birthYear = document.getElementById("member-birthYear");
        const birthMonth = document.getElementById("member-birthMonth");
        const birthDay = document.getElementById("member-birthDay");
        const postCode = document.getElementById("member-postcode");
        const detailAddress = document.getElementById("member-detailAddress");
        const passportNum = document.getElementById("member-passportNum");
        const hint = document.getElementById("member-hint");

        if (!(await userName_check())) {
            userName.focus();
            return false;
        } else if (!password_check()) {
            password.focus();
            return false;
        } else if (!password_confirm()) {
            passwordConfirm.focus();
            return false;
        } else if (!name_check()) {
            name.focus();
            return false;
        } else if (!birth_check()) {
            birthYear.focus();
            birthMonth.focus();
            birthDay.focus();
            return false;
        } else if (!postcode_check()) {
            postCode.focus();
            return false;
        } else if (!detailAddress_check()) {
            detailAddress.focus();
            return false;
        } else if (!passportNum_check()) {
            passportNum.focus();
            return false;
        } else if (!member_hintCheck()) {
            hint.focus();
            return false;
        } else {
            return true;
        }
    }

    // 쿠키에서 값을 가져오는 함수
    // CSRF 토큰을 가져오는 함수
    const getCsrfToken = async () => {
        try {
            const response = await fetch('/csrf-token');
            const data = await response.json();
            return data.csrfToken;
        } catch (error) {
            console.error('CSRF 토큰을 가져오는 동안 오류가 발생했습니다.', error);
            return null;
        }
    };

    const userName_check = async () => {
        // 사용자 이름 체크 로직...
        const userName = document.querySelector("#member-userName").value;
        const userNameRegex = /^[a-zA-Z0-9]{6,20}$/;

        if (userName) {
            if (!userNameRegex.test(userName)) {
                alert("*아이디는 알파벳과 숫자를 조합하여 6자 이상 20자 이하로 입력해주세요.");
                return false;
            } else {
                const csrfToken = await getCsrfToken();
                if (!csrfToken) {
                    console.error('CSRF 토큰을 가져오는 데 실패했습니다.');
                    return false;
                }

                try {
                    const response = await axios.post('/member/userName-check', {
                        memberUserName: userName
                    }, {
                        headers: {
                            'X-CSRF-TOKEN': csrfToken
                        }
                    });

                    console.log("then");
                    document.querySelector("#good").style.display = "block";
                    return true;
                } catch (error) {
                    console.error('사용자 이름 체크 요청 중 오류가 발생했습니다:', error);
                    document.querySelector("#no").style.display = "block";
                    return false;
                }
            }
        } else {
            return false;
        }
    };
    const password_check = () => {
        const password = document.querySelector("#member-password").value;
        const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$%!@])[A-Za-z\d@$%!]{8,16}$/;
        const passwordResult = document.querySelector("#password-result");

        if (!password) {
            passwordResult.innerHTML = "*필수 입력사항입니다.";
            passwordResult.style.color = "red";
            return false;

        } else if (!passwordRegex.test(password)) {
            passwordResult.innerHTML = "*올바른 형식이 아닙니다. 특수기호 @!#$%, 대소문자, 숫자를 조합하여 8~16자 사이로 입력해주세요.";
            passwordResult.style.color = "red";
            return false;

        } else {
            passwordResult.innerHTML = "*올바른 비밀번호입니다.";
            passwordResult.style.color = "green";
            return true;
        }
    }


    const password_confirm = () => {
        const password = document.querySelector("#member-password").value;
        const confirmPassword = document.querySelector("#member-PasswordConfirm").value;
        const passwordConfirmResult = document.querySelector("#passwordConfirm-result");

        if (!confirmPassword) {
            passwordConfirmResult.innerHTML = "*필수 입력사항입니다.";
            passwordConfirmResult.style.color = "red";
            return false;

        } else if (password !== confirmPassword) {
            passwordConfirmResult.innerHTML = "*비밀번호가 일치하지 않습니다.";
            passwordConfirmResult.style.color = "red";
            return false;

        } else {
            passwordConfirmResult.innerHTML = "*비밀번호가 일치합니다.";
            passwordConfirmResult.style.color = "green";
            return true;
        }
    }

    const CountryCode_select = () => {
        const countryCode = document.getElementById('country_code').value;
        const mobile = document.getElementById('member-mobile');
        mobile.value = countryCode + ' ';
    }


    const name_check = () => {
        const name = document.querySelector("#member-name").value;
        const nameResult = document.querySelector("#name-result");

        if (!name) {
            nameResult.innerHTML = "*필수 입력사항입니다.";
            nameResult.style.color = "red";
            return false;
        } else {
            nameResult.innerHTML = "";
            return true;
        }
    }

    const birth_check = () => {
        const birthYear = document.querySelector("#member-birthYear").value;
        const birthMonth = document.querySelector("#member-birthMonth").value;
        const birthDay = document.querySelector("#member-birthDay").value;
        const birthResult = document.querySelector("#birth-result");

        const birthRegex = /^(19[1-9]\d|200[0-8])$/; // 4자리 숫자만 허용하는 정규식
        const dayRegex = /^(0[1-9]|[12]\d|3[01])$/; // 01부터 31까지의 두 자리 숫자만 허용하는 정규식

        if (!birthYear || !birthMonth || !birthDay) {
            birthResult.innerHTML = "*필수 입력사항입니다.";
            birthResult.style.color = "red";
            return false;
        } else if (!birthRegex.test(birthYear)) {
            birthResult.innerHTML =
                "*올바른 생년도 형식이 아닙니다. 4자리 숫자로 입력해주세요. (1910년생부터 2008년생 사이까지 입력이 가능합니다.)";
            birthResult.style.color = "red";
            return false;
        } else if (!dayRegex.test(birthDay)) {
            birthResult.innerHTML = "*올바른 일 형식이 아닙니다. 01부터 31까지의 두 자리 숫자로 입력해주세요.";
            birthResult.style.color = "red";
            return false;
        } else if (birthMonth < 1 || birthMonth > 12) {
            birthResult.innerHTML = "*올바른 월 형식이 아닙니다. 1부터 12까지의 값을 선택해주세요.";
            birthResult.style.color = "red";
            return false;
        } else {
            birthResult.innerHTML = "*올바른 생년월일입니다.";
            birthResult.style.color = "green";
            return true; // 생년월일이 유효한 경우 true를 반환
        }
    }
    const sample6_execDaumPostcode = () => {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("member-extraAddress").value = extraAddr;

                } else {
                    document.getElementById("member-extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('member-postcode').value = data.zonecode;
                document.getElementById("member_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                postcode_check();
            }
        }).open();
    }

    const postcode_check = () => {
        const postcode = document.getElementById("member-postcode").value;
        const postCodeResult = document.getElementById("address-result");
        const RegExp = /^\d{5}$/; // 5자리 우편번호 정규식

        if (postcode.length === 0) {
            postCodeResult.innerHTML = "*필수입력사항 입니다.";
            postCodeResult.style.color = "red";
            return false;
        } else if (!postcode.match(RegExp)) {
            postCodeResult.innerHTML = "*올바르지 않는 우편번호 형식 입니다.";
            postCodeResult.style.color = "red";
            return false;
        } else {
            postCodeResult.innerHTML = "*우편번호가 확인되었습니다.";
            postCodeResult.style.color = "green";
            return true;
        }
    }
    // API, 데이터베이스 연동 후 사용할 조건문
    // sample6_execDaumPostcode() 함수의 우편번호 정보에 없는 값을 넣을 경우의 조건식
    // else if (새로운 우편번호와 일치하는 주소 정보가 없는 경우) {
    //     postCodeResult.innerHTML = "*주소정보가 없는 우편번호입니다.";
    //     postCodeResult.style.color = "red";
    //     return false;
    // }


    const detailAddress_check = () => {
        const detailAddress = document.getElementById("member-detailAddress").value;
        const detailAddressResult = document.getElementById("address-result");

        if (detailAddress.length === 0) {
            detailAddressResult.innerHTML = "*필수입력사항 입니다.";
            detailAddressResult.style.color = "red";
            return false;
        } else {
            detailAddressResult.innerHTML = "*상세주소가 확인되었습니다.";
            detailAddressResult.style.color = "green";
            return true;
        }
    }

    const domain_select = () => {
        const domain = document.getElementById("email-domain-select");
        console.log(domain.value);
        const domainInput = document.getElementById("email-domain");
        domainInput.value = domain.value;
    }

    const passportNum_check = async () => {
        return new Promise(async (resolve, reject) => {
            document.querySelector("#pos").style.display = "none";
            document.querySelector("#dup").style.display = "none";
            const passportNum = document.querySelector("#member-passportNum").value;
            const passportNumRegex = /^[A-Z][0-9]{6,8}$/;

            if (passportNum) {
                if (!passportNumRegex.test(passportNum)) {
                    alert("여권번호 형식이 맞지않습니다.");
                    resolve(false);
                } else {
                    const csrfToken = await getCsrfToken();
                    axios({
                        method: "post",
                        url: "/member/passPortNum-check",
                        headers: {
                            "X-CSRF-TOKEN": csrfToken,
                        },
                        data: {
                            memberPassportNum: passportNum,
                        },
                    })
                        .then((res) => {
                            console.log("then");
                            document.querySelector("#pos").style.display = "block";
                            resolve(true);
                        })
                        .catch((err) => {
                            console.log("catch");
                            document.querySelector("#dup").style.display = "block";
                            resolve(false);
                        });
                }
            } else {
                resolve(false);
            }
        });
    };

    const member_hintCheck = () => {
        const memberHint = document.getElementById("member-hint").value;
        const memberHintResult = document.getElementById("hint-result");

        if (memberHint.length === 0) {
            memberHintResult.innerHTML = "*필수입력사항 입니다.";
            memberHintResult.style.color = "red";
            return false;
        } else {
            memberHintResult.innerHTML = "*힌트가 확인되었습니다.";
            memberHintResult.style.color = "green";
            return true;
        }
    }
    const join_click = async (event) => {
        event.preventDefault();

        const result = await login_check();

        if (result) {
            const result1 = confirm("회원가입을 완료하시겠습니까?");

            if (result1) {
                // CSRF 토큰 가져오기
                const csrfToken = await getCsrfToken();

                // 만약 CSRF 토큰을 가져오는 데 실패하면 작업을 중단합니다.
                if (!csrfToken) {
                    alert('CSRF 토큰을 가져오는 동안 오류가 발생했습니다');
                    return;
                }

                // FormData 객체를 사용하여 form의 값과 함께 CSRF 토큰을 포함합니다.
                const formData = new FormData(document.forms['saveForm']);
                formData.append('_csrf', csrfToken);

                // Fetch API를 사용하여 데이터를 전송하고 서버의 응답을 처리합니다.
                try {
                    const response = await fetch('/member/save', {
                        method: 'POST',
                        body: formData
                    });

                    if (response.ok) {
                        alert("행복투어의 일원이 되신걸 환영합니다.");
                        const registerCompletedEvent = new Event('registerCompleted');
                        document.dispatchEvent(registerCompletedEvent);
                        window.location.href = '/';
                    } else {
                        alert(`Error ${response.status}: ${response.statusText}`);
                    }
                } catch (error) {
                    console.error('잘못된 양식 제출 입니다.', error);
                }
            } else {
                history.go();
            }
        } else {
            alert("필수사항을 만족하지 않았습니다!!");
        }
    }
</script>
</html>