<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div id="section" class="container mt-5">
    <table class="table table-striped table-bordered">
        <tr>
            <th class="bg-info text-white">id</th>
            <td th:text="${member.id}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">계정</th>
            <td th:text="${member.memberUserName}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">이름</th>
            <td th:text="${member.memberName}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">핸드폰번호</th>
            <td th:text="${member.memberMobileFull}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">생년월일</th>
            <td th:text="${member.memberGender}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">주소</th>
            <td th:text="${member.memberAddressFull}"></td>
        </tr>
        <tr>
            <th class="bg-info text-white">이메일</th>
            <td th:text="${member.memberAddressFull}"></td>
        </tr>
    </table>
    <button class="btn btn-outline-success btn-block" onclick="member_home()">홈으로</button>
</div>
</body>
<script>
    const member_home = () => {
        location.href="/";
    }
</script>
</html>