<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section" class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">마이 페이지</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>계정</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>핸드폰번호</th>
                    <th>주소</th>
                    <th>이메일</th>
                    <th>여권번호</th>
                    <th>문자 SMS 동의여부</th>
                    <th>이메일 마케팅 동의여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${member.memberUserName}"></td>
                    <td th:text="${member.memberName}"></td>
                    <td th:text="${member.memberGender}"></td>
                    <td th:text="${member.memberMobileFull}"></td>
                    <td th:text="${member.memberAddressFull}"></td>
                    <td th:text="${member.memberEmailFull}"></td>
                    <td th:text="${member.memberPassportNum}"></td>
                    <td th:text="${member.memberSms}"></td>
                    <td th:text="${member.memberEmailMarketing}"></td>
                </tr>
                <td>
                    <button class="btn btn-outline-success btn-block" onclick="member_update()"> 계정 수정
                    </button>
                    <button class="btn btn-outline-danger btn-block" th:onclick="member_delete([[${member.id}]])"> 계정 삭제
                    </button>
                </td>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const member_update = () => {
            axios({
                method: "put",
                url: "/member/update",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                data: {

                }
            }).then(res => {
                alert("수정완료! myPage로 돌아갑니다.");
                location.href = "/member/myPage";
            }).catch(err => {
                alert("수정실패!");
            });
    }
    const member_delete = (id) => {
        axios({
            method: "delete",
            url: "/member/" + id
        }).then(res => {
            alert("삭제완료! 확인을 클릭하면 목록으로 돌아갑니다!");
            location.href = "/member/";
        }).catch(err => {
            alert("삭제실패!");
        });
    }
</script>
</html>