<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin/admin">관리자 시스템</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/member/">회원 관리/예약 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/airline/save">항공 서비스 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">홈페이지로</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>