
* {
    font-family: 'Poor Story', cursive;
}

body {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.at-symbol {
    margin-left: -20px;
    margin-right: -20px;
}

.at-symbol span {
    display: inline-block;
    padding: 1px 0;
    vertical-align: middle;
    font-size: 27px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.form-check {
    margin-bottom: 10px;
}

.nav-item {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 38%;
    transform: translateX(-50%);
    z-index: 9999;
}