<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="component/config :: config"></th:block>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy</title>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <div class="container">
        <div class="flight-booking">
            <div class="container my-5">
                <form>
                    <h1 class="text-left mb-5">항공권 예약</h1>
                    <div class="row mb-4">
                        <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex">
                                <div class="col-md-5">
                                    <label for="departure" class="form-label">출발지</label>
                                    <select id="departure" name="departureLocation" class="form-select">
                                        <optgroup label="Asia">
                                            <option value="ICN">ICN(인천)</option>
                                            <option value="GMP">GMP(김포)</option>
                                            <option value="PUS">PUS(김해)</option>
                                            <option value="YNY">YNY(양양)</option>
                                            <option value="CJU">CJU(제주)</option>
                                            <option value="NRT">NRT(나리타-도쿄)</option>
                                            <option value="HND">HND(하네다-도쿄)</option>
                                            <option value="KIX">KIX(간사이-오사카)</option>
                                            <option value="FKS">FKS(후쿠오카)</option>
                                            <option value="OKA">OKA(나하-오키나와)</option>
                                            <option value="CTS">CTS(신치토세-홋카이도)</option>
                                            <option value="HKD">HKD(하코다테-홋카이도)</option>
                                            <option value="SGN">SGN(호치민)</option>
                                            <option value="HAN">HAN(하노이)</option>
                                            <option value="DAD">DAD(다낭)</option>
                                            <option value="HKT">HKT(푸켓)</option>
                                            <option value="MNL">MNL(마닐라)</option>
                                            <option value="SIN">SIN(창이-싱가포르)</option>
                                        </optgroup>
                                        <optgroup label="Europe">
                                            <option value="SVO">SVD(모스크바)</option>
                                            <option value="LED">LED(상트페테르부르크)</option>
                                            <option value="VVO">VVO(블라디보스토크)</option>
                                            <option value="LHR">LHR(런던 히스로)</option>
                                            <option value="MAN">MAN(맨체스터)</option>
                                            <option value="CDG">CDG(파리)</option>
                                            <option value="BER">BER(베를린)</option>
                                            <option value="MAD">MAD(마드리드)</option>
                                            <option value="BCN">BCN(바르셀로나)</option>
                                            <option value="LIS">LIS(리스본)</option>
                                            <option value="HEL">HEL(헬싱키)</option>
                                        </optgroup>
                                        <optgroup label="North America">
                                            <option value="JFK">JFK(존F 케네디-뉴욕)</option>
                                            <option value="DCA">DCA(워싱턴)</option>
                                            <option value="SFO">SFO(센프란시스코)</option>
                                            <option value="SAN">SAN(샌디에이고)</option>
                                            <option value="MIA">MIA(마이애미)</option>
                                            <option value="LAX">LAX(로스엔젤레스)</option>
                                            <option value="YVR">YVR(벤쿠버)</option>
                                            <option value="YYZ">YYZ(토론토)</option>
                                        </optgroup>
                                        <optgroup label="Oceania">
                                            <option value="SYD">SYD(시드니)</option>
                                            <option value="MEL">MEL(멜버른)</option>
                                            <option value="BNE">BME(브리즈번)</option>
                                            <option value="AKL">AKL(오클랜드)</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-2 d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn btn-outline-success btn-block mt-4"
                                            onclick="swapCities()">↔
                                    </button>
                                </div>
                                <div class="col-md-5">
                                    <label for="destination" class="form-label">도착지</label>
                                    <select id="destination" name="arrivalLocation" class="form-select">
                                        <optgroup label="Asia">
                                            <option value="ICN">ICN(인천)</option>
                                            <option value="GMP">GMP(김포)</option>
                                            <option value="PUS">PUS(김해)</option>
                                            <option value="YNY">YNY(양양)</option>
                                            <option value="CJU">CJU(제주)</option>
                                            <option value="NRT">NRT(나리타-도쿄)</option>
                                            <option value="HND">HND(하네다-도쿄)</option>
                                            <option value="KIX">KIX(간사이-오사카)</option>
                                            <option value="FKS">FKS(후쿠오카)</option>
                                            <option value="OKA">OKA(나하-오키나와)</option>
                                            <option value="CTS">CTS(신치토세-홋카이도)</option>
                                            <option value="HKD">HKD(하코다테-홋카이도)</option>
                                            <option value="SGN">SGN(호치민)</option>
                                            <option value="HAN">HAN(하노이)</option>
                                            <option value="DAD">DAD(다낭)</option>
                                            <option value="HKT">HKT(푸켓)</option>
                                            <option value="MNL">MNL(마닐라)</option>
                                            <option value="SIN">SIN(창이-싱가포르)</option>
                                        </optgroup>
                                        <optgroup label="Europe">
                                            <option value="SVO">SVD(모스크바)</option>
                                            <option value="LED">LED(상트페테르부르크)</option>
                                            <option value="VVO">VVO(블라디보스토크)</option>
                                            <option value="LHR">LHR(런던 히스로)</option>
                                            <option value="MAN">MAN(맨체스터)</option>
                                            <option value="CDG">CDG(파리)</option>
                                            <option value="BER">BER(베를린)</option>
                                            <option value="MAD">MAD(마드리드)</option>
                                            <option value="BCN">BCN(바르셀로나)</option>
                                            <option value="LIS">LIS(리스본)</option>
                                            <option value="HEL">HEL(헬싱키)</option>
                                        </optgroup>
                                        <optgroup label="North America">
                                            <option value="JFK">JFK(존F 케네디-뉴욕)</option>
                                            <option value="DCA">DCA(워싱턴)</option>
                                            <option value="SFO">SFO(센프란시스코)</option>
                                            <option value="SAN">SAN(샌디에이고)</option>
                                            <option value="MIA">MIA(마이애미)</option>
                                            <option value="LAX">LAX(로스엔젤레스)</option>
                                            <option value="YVR">YVR(벤쿠버)</option>
                                            <option value="YYZ">YYZ(토론토)</option>
                                        </optgroup>
                                        <optgroup label="Oceania">
                                            <option value="SYD">SYD(시드니)</option>
                                            <option value="MEL">MEL(멜버른)</option>
                                            <option value="BNE">BME(브리즈번)</option>
                                            <option value="AKL">AKL(오클랜드)</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label for="departure-date" class="form-label">출발일</label>
                            <input type="date" id="departure-date" class="form-control" name="departure-date">
                        </div>
                        <div class="col-md-2">
                            <label for="arrival-date" class="form-label">도착일</label>
                            <input type="date" id="arrival-date" class="form-control" name="arrival-date">
                        </div>
                    </div>
                    <div class="col-md-4 text-center mt-3">
                        <label for="class-select" class="form-label">클래스 선택</label>
                        <select id="class-select" class="form-select" name="class-select">
                            <option value="economy">이코노미</option>
                            <option value="business">비즈니스</option>
                            <option value="first">퍼스트 클래스</option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center mt-3">
                        <button type="submit" class="btn btn-outline-success btn-block w-100">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>

    const swapCities = () => {
        const departureCity = document.getElementById("departure");
        const destinationCity = document.getElementById("destination");
        const tempCity = departureCity.value;
        departureCity.value = destinationCity.value;
        destinationCity.value = tempCity;
    }

</script>
</html>